* -text
frontend/**/*.ts linguist-generated
frontend/**/*.tsx linguist-generated
frontend/**/*.css linguist-generated

*.py linguist-detectable=true
**/*.mako linguist-detectable=true
**/alembic/versions/*.py linguist-detectable=true

frontend/node_modules/** linguist-vendored